parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name_common:     diish_common
    database_name_scomdis:    diish_scomdis
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    imag_ldap_client_host:      127.0.0.1
    imag_ldap_client_port:      389
    imag_ldap_client_username:
    imag_ldap_client_password:
