<div class="sign-in">
  <div class="signin-box">
    <form action="{{ path("login_check") }}" method="post" id="login" class="form-signin-heading">
      <h2>Please sign in</h2>
    
    {% if error %}
        <div class="alert alert-error">{{ error.message }}</div>
    {% endif %}
        
      <div class="control-group">
        <label class="control-lavel" for="username">Username</label>
          <div class="controls">
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
          </div>
      </div>

      <div class="control-group">
        <label class="control-lavel" for="password">Password</label>
        <div class="controls">
          <input type="password" id="password" name="_password" required="required"/>
        </div>
      </div>
        
      <div class="form-actions">
        <input type="hidden" name="_target_path" value="/" />
        <input type="hidden" name="_csrf_token" value="{{ token }}" />
        <input type="submit" class="btn btn-primary" value="Sign in" />
      </div>
    </form>
      
  </div>
</div>