/* 
    Document   : main
    Created on : Jul 16, 2012, 10:15:37 PM
    Author     : Natsuki Hara <toconuts@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

.wrapper {
    padding-top: 30px;
    padding-bottom: 40px;
    width: 100%;
}

.wrapper-nonavbar {
    padding-top: 0px;
    padding-bottom: 40px;
}

.wrapper-with-sidebar {
    padding-top: 60px;
    padding-bottom: 40px;
}

.navbar .nav > li > p {
    color: #999999;
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    margin: 0;
    display: block;
}

.hero-unit {
    padding: 30px;
}

.hero-unit h1 {
    color: #222222;
    font-size: 1.56em;
    font-weight: normal;
}

footer {
    margin: 0 auto;
    text-align: center;
}

.signin-box, .accountchooser-box {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #E5E5E5;
    margin: 12px 0 0;
    padding: 20px 25px 15px;
    width: 220px;
}

.signin-box h2 {
    font-size: 16px;
    height: 16px;
    line-height: 17px;
    margin: 0 0 1.2em;
    position: relative;
}

.product-menu div {
    border-radius: 6px 6px 6px 6px;
    float: left;
    font-size: 15px;
    height: 30px;
    margin-bottom: 20px;
    margin-right: 14px;
    padding: 26px 20px;
    text-align: center;
    width: 150px;
}

.product-menu div a {
    font-size: 18px;
    line-height: 27px;
    color: inherit;
}

.product-menu div a, a:link, a:visited {
    text-decoration: none;
}
.product1 {
    background-color: darkkhaki;
    background-image: -webkit-linear-gradient(left top, white, darkkhaki);  /* for webkit browsers */
    background-image: -moz-linear-gradient(left top , white, darkkhaki);    /* for firefox 3.6+ */
    background-image: -o-linear-gradient(left top, white, darkkhaki);       /* for Opera 11.10+ */
    background-image: linear-gradient(to right bottom, white, darkkhaki);   /* for IE10+, W3C, Opera 12.50+ */
}
.product2 {
    background-color: darkorchid;
    background-image: -webkit-linear-gradient(left top, white, darkorchid); /* for webkit browsers */
    background-image: -moz-linear-gradient(left top , white, darkorchid);   /* for firefox 3.6+ */
    background-image: -o-linear-gradient(left top, white, darkorchid);      /* for Opera 11.10+ */
    background-image: linear-gradient(to right bottom, white, darkorchid);  /* for IE10+, W3C */
}
.product3 {
    background-color: olivedrab;
    background-image: -webkit-linear-gradient(left top, white, olivedrab);  /* for webkit browsers */
    background-image: -moz-linear-gradient(left top , white, olivedrab);    /* for firefox 3.6+ */
    background-image: -o-linear-gradient(left top, white, olivedrab);       /* for Opera 11.10+ */
    background-image: linear-gradient(to right bottom, white, olivedrab);   /* for IE10+, W3C */
}
.product4 {
    background-color: royalblue;
    background-image: -webkit-linear-gradient(left top, white, royalblue);  /* for webkit browsers */
    background-image: -moz-linear-gradient(left top , white, royalblue);    /* for firefox 3.6+ */
    background-image: -o-linear-gradient(left top, white, royalblue);       /* for Opera 11.10+ */
    background-image: linear-gradient(to right bottom, white, royalblue);   /* for IE10+, W3C */
}
.product5 {
    background-color: darkgray;
    background-image: -webkit-linear-gradient(left top, white, darkgray);   /* for webkit browsers */
    background-image: -moz-linear-gradient(left top , white, darkgray);     /* for firefox 3.6+ */
    background-image: -o-linear-gradient(left top, white, darkgray);        /* for Opera 11.10+ */
    background-image: linear-gradient(to right bottom, white, darkgray);    /* for IE10+, W3C */
}
.product6 {
    background-color: palevioletred;
    background-image: -webkit-linear-gradient(left top, white, palevioletred );     /* for webkit browsers */
    background-image: -moz-linear-gradient(left top , white, palevioletred);        /* for firefox 3.6+ */
    background-image: -o-linear-gradient(left top, white, palevioletred);           /* for Opera 11.10+ */
    background-image: linear-gradient(to right bottom, white, palevioletred);       /* for IE10+, W3C */
}
.product7 {
    background-color: goldenrod;
    background-image: -webkit-linear-gradient(left top, white, goldenrod);  /* for webkit browsers */
    background-image: -moz-linear-gradient(left top , white, goldenrod);    /* for firefox 3.6+ */
    background-image: -o-linear-gradient(left top, white, goldenrod);       /* for Opera 11.10+ */
    background-image: linear-gradient(to right bottom, white, goldenrod);   /* for IE10+, W3C */
}
.product8 {
    background-color: olive;
    background-image: -webkit-linear-gradient(left top, white, olive );     /* for webkit browsers */
    background-image: -moz-linear-gradient(left top , white, olive);        /* for firefox 3.6+ */
    background-image: -o-linear-gradient(left top, white, olive);           /* for Opera 11.10+ */
    background-image: linear-gradient(to right bottom, white, olive);       /* for IE10+, W3C */
}
.product9 {
    background-color: gold;
    background-image: -webkit-linear-gradient(left top, white, gold);   /* for webkit browsers */
    background-image: -moz-linear-gradient(left top , white, gold);     /* for firefox 3.6+ */
    background-image: -o-linear-gradient(left top, white, gold);        /* for Opera 11.10+ */
    background-image: linear-gradient(to right bottom, white, gold);    /* for IE10+, W3C */
}

.product-menu h3 {
  font-weight: normal;
}