{% extends 'DIISHSComDisBundle::layout.html.twig' %}

{% block page_title 'Syndromic Surveillance - new - SComDis' %}
{% block product_name 'SComDis' %}
{% block content_title 'Syndromic Surveillance - new' %}

{% set menu = 'SComDis' %}
{% set sidebar_menu = 'scomdis_new' %}

{% block content %}
<form action="{{ path('scomdis_new') }}" method="post" class="form-horizontal">
  {{ form_errors(form) }}
  
  {% include "DIISHSComDisBundle:Default:_edit_header.html.twig" %}
  {% include "DIISHSComDisBundle:Default:_edit_items.html.twig" %}

  {{ form_widget(form._token) }}
  <div class="form-actions">
    <input type="submit" class="btn btn-primary" value="Confirm">
  </div>
</form>
{% endblock %}


